[project]
	description = Visual Leak Detector v2 - mirror of https://git01.codeplex.com/vld
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alfredo-ossic
[access "refs/for/refs/*"]
	read = group user/alfredo-ossic
	push = group user/alfredo-ossic
	label-Code-Review = -2..+2 group user/alfredo-ossic
	label-Verified = -1..+1 group user/alfredo-ossic
	rebase = group user/alfredo-ossic
	removeReviewer = group user/alfredo-ossic
	submit = group user/alfredo-ossic
[access "refs/heads/*"]
	read = group user/alfredo-ossic
	create = group user/alfredo-ossic
	push = +force group user/alfredo-ossic
	pushMerge = group user/alfredo-ossic
[access "refs/tags/*"]
	push = group user/alfredo-ossic
	push = +force group user/alfredo-ossic
